h1{
    text-align: center;
}
.form{
    border:10px solid blueviolet;
    margin: 50px 200px;
    padding: 250px;
}

.form img{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}
.form label{
    display: block;
    font-size: 20px;
}

form input{
    display: block;
    width: 300px;
    height: 40px;
}

form button{
    background-color: blueviolet;
    color: white;
    width: 300px;
    height: 40px;
    border: 1px solid blueviolet;
    border-radius: 10px;
}
